In [381]:
from modsim import *
import math
import pandas as pd
from random import randint

# LIMESHARE 

- limeshare is...


**Below is our state with attributes:**
- number_of_scooters: 
- av_batt_life:
- size_of_region:
- send_truck:

In [382]:
limeshare = State(number_of_scooters = 20, av_batt_life = 100, size_of_region = 2, send_truck = -1)
limeshare

number_of_scooters     20
av_batt_life          100
size_of_region          2
send_truck             -1
dtype: int64

In [383]:
def step(state, hour):
#     find number of users per hour (rush hour = more users)
#     returns a num between (0, state.number_of_scooters)
    demand = calcDemand(state.number_of_scooters, hour)
    
#     find the average ride length per rider from demand (bigger region = higher av length of use)
#     returns a num between ~(10-60)
    length_of_use = calcAverageRide(state.size_of_region, demand)
    
#     calc change in battery 
    calcBattDelta(state, demand, 10)
    
#     find hour to send truck
    if(state.av_batt_life < 20 and state.send_truck == -1):
        sendTruck(state, hour)

## Calculate demand for scooters based on: 
- traffic times 
    - HIGH : going to work (8-10pm), lunch time (12-2pm), going home (4-6pm)
    - NUETRAL : early birds (6-8am), night outs (8pm-11pm)
    - LOW : all remaining times
- scooters in the area (this is a hard max) 
- randomize using round (say bad weather hour)


**Returns num of scooters with range (0, number_of_scooters)**
   - the lowest possible demand is zero and the highest is number of scooters int that region

In [384]:
def calcDemand(scooters, hour):
    if hour >= 8 and hour < 10 or hour >= 12 and hour < 14 or hour >= 16 and hour < 18:
        return randint(int(scooters/hour) + int(hour/2), scooters)
    elif hour == 6 or hour == 7 or hour >= 20 and hour < 23:  
        return randint(scooters%int(hour/2), scooters)
    else: 
        if hour == 0:
            return randint(hour, int(scooters/4))
        else:
            return randint(int(hour/6), int(scooters/4))

**The following code is used to test ideal hour ranges for our function above with demand.**
- the goal was to have a higher min for higher traffic times compatible with sccoter amounts range(20-100)


| trafffic | min  | max  | av |  
|:---|---|---|---|
| high  (13)| 13  |100   |   57.03|   
| nuetral  (20)| 1  | 100  |  48.34 |   
| low (4)|  0 |  25 |  12.55 |   
[This is for 100 scooters]


| trafffic | min  | max  | av |  
|:---|---|---|---|
| high  (13)|   7|20   |   13.08|   
| nuetral  (20)| 0  | 20  |  10.6 |   
| low (4)|  0 | 5  | 2.37  |   
[This is for 20 scooters]

In [385]:
# have to rewrite minimum var from min to 'mini' below bc min is reserved 
hours, mini, max, av = 4, 100, 0, 0
for i in range(1, 100):
    store = calcDemand(100, hours)
    if store < mini: mini = store
    if store > max: max = store
    av += store
print(mini, max, av/100)

0 25 13.21

## Caluculate average ride length of scooters used 

**factors the affect the ride length**
- area of region (the higher the area the longer the ride)
- demand (if there is more demand, chances are the rides are longer)

**Ranges for inputs**
- demand: from 10-70 ore more
- areas: 200 - 2000 acres

**returns average length scooters used for the hour with range (~10, ~60) min**
- check the test methods below

In [386]:
def calcRide(area):
    return randint(int(area/60), int(area/60) + area%60)

def calcAverageRide(area, demand):
    av = 0
    for i in range (0, demand): 
        av += calcRide (area);
    return av/demand if demand > 0 else 0

Test the method above with av demand of 30 scooters and area range 500-2k acres

In [387]:
print(calcAverageRide(500, 30), calcAverageRide(1000, 30), calcAverageRide(2000, 30))

18.366666666666667 36.46666666666667 44.36666666666667

In [388]:
def calcBattDelta(state, demand, av_length_of_use):
    s = state.number_of_scooters 
    c = state.av_batt_life
    t = demand
    
    state.av_batt_life =  math.floor(((s-t)*c + t*(c- 10)) / s)
        

def sendTruck(state, hour):
    state.send_truck = hour;

In [389]:
def run_simulation(state, num_steps):     
    results = TimeSeries()
    for hour in range(num_steps):
        #  this is our line in the sand to prevent calculating after our desired purpose for the model has been found
        if(state.send_truck != -1):
            return
        step(state, hour)
        results[hour] = state.av_batt_life

In [390]:
limeshare = State(number_of_scooters = 20, av_batt_life = 100, size_of_region = 3, send_truck = -1)
run_simulation(limeshare, 24)
limeshare

number_of_scooters    20
av_batt_life          18
size_of_region         3
send_truck            18
dtype: int64

In [391]:
def runModel():
#     tuple array ( size_of_region, send_truck) with fixed number_of_scooters at 20
    regions = linspace(200, 2000, 10)
    results = []
    for i in regions:
        limeshare = State(number_of_scooters = 20, av_batt_life = 100, size_of_region = round(i + 1), send_truck = -1)
        run_simulation(limeshare, 24)
        data = (limeshare.size_of_region, limeshare.send_truck)
        results.append(data)
    return results

In [392]:
sample_regions = runModel()
print(sample_regions)

[(201.0, 21.0), (401.0, 20.0), (601.0, 21.0), (801.0, 22.0), (1001.0, 20.0), (1201.0, 19.0), (1401.0, 19.0), (1601.0, 21.0), (1801.0, 21.0), (2001.0, 22.0)]

In [393]:
def runModel():
#     tuple array (number_of_scooters, send_truck) with fixed size_of_region at 2
    scooters = linspace(20, 70, 10)
    results = []
    for i in scooters:
        limeshare = State(number_of_scooters = int(i), av_batt_life = 100, size_of_region = 1000, send_truck = -1)
        run_simulation(limeshare, 24)
        data = (limeshare.number_of_scooters, limeshare.send_truck)
        results.append(data)
    return results

In [394]:
sample_scooters = runModel()
print(sample_scooters)

[(20, 21), (25, 22), (31, 21), (36, 22), (42, 21), (47, 19), (53, 20), (58, 22), (64, 20), (70, 23)]

In [395]:
region_data = linspace(200, 2000, 10)

In [396]:
scooter_data = linspace(20, 80, 10)

In [397]:
truck_data = [[0 for x in region_data] for y in scooter_data]

In [398]:
def runModel():
    for row, reigon in enumerate(region_data):
        for col, scooters in enumerate(scooter_data):
            limeshare = State(number_of_scooters = round(scooters), av_batt_life = 100, size_of_region = round(reigon), send_truck = -1)
            run_simulation(limeshare, 24)
            truck_data[row][col] = limeshare.send_truck

runModel()
truck_data

[[20.0, 22.0, 22.0, 21.0, 19.0, 20.0, 22.0, 20.0, 20.0, 22.0],
 [20.0, 19.0, 22.0, 21.0, 20.0, 17.0, 22.0, 21.0, 20.0, 19.0],
 [21.0, 20.0, 20.0, 21.0, 22.0, -1.0, 22.0, 22.0, 22.0, 22.0],
 [17.0, 22.0, 21.0, 20.0, 20.0, 21.0, 20.0, -1.0, 21.0, 20.0],
 [21.0, 17.0, 22.0, 21.0, 20.0, 17.0, 22.0, 20.0, 21.0, 22.0],
 [22.0, 20.0, 20.0, 19.0, 17.0, 23.0, 17.0, 20.0, 20.0, 21.0],
 [22.0, 20.0, 21.0, 21.0, 17.0, 17.0, 21.0, -1.0, 21.0, -1.0],
 [18.0, 21.0, 23.0, 19.0, 20.0, -1.0, -1.0, 21.0, 21.0, 23.0],
 [23.0, 21.0, 21.0, 23.0, 19.0, 20.0, 22.0, 23.0, 21.0, 23.0],
 [21.0, 22.0, 22.0, 21.0, 19.0, 21.0, 23.0, 18.0, 21.0, -1.0]]

In [399]:
# My reaction when the above code printed "HOLY SHIT!"

In [400]:
new_dataFrame = pd.DataFrame(data=truck_data, index=round(region_data, 2), columns=round(scooter_data, 2))
new_dataFrame

        20.00  26.67  33.33  40.00  46.67  53.33  60.00  66.67  73.33  80.00
200.0    20.0   22.0   22.0   21.0   19.0   20.0   22.0   20.0   20.0   22.0
400.0    20.0   19.0   22.0   21.0   20.0   17.0   22.0   21.0   20.0   19.0
600.0    21.0   20.0   20.0   21.0   22.0   -1.0   22.0   22.0   22.0   22.0
800.0    17.0   22.0   21.0   20.0   20.0   21.0   20.0   -1.0   21.0   20.0
1000.0   21.0   17.0   22.0   21.0   20.0   17.0   22.0   20.0   21.0   22.0
1200.0   22.0   20.0   20.0   19.0   17.0   23.0   17.0   20.0   20.0   21.0
1400.0   22.0   20.0   21.0   21.0   17.0   17.0   21.0   -1.0   21.0   -1.0
1600.0   18.0   21.0   23.0   19.0   20.0   -1.0   -1.0   21.0   21.0   23.0
1800.0   23.0   21.0   21.0   23.0   19.0   20.0   22.0   23.0   21.0   23.0
2000.0   21.0   22.0   22.0   21.0   19.0   21.0   23.0   18.0   21.0   -1.0