In [422]:
from modsim import *
import math
import pandas as pd
from random import randint

# LIMESHARE 

- limeshare is...


**Below is our state with attributes:**
- number_of_scooters: 
- av_batt_life:
- size_of_region:
- send_truck:

In [442]:
limeshare = State(number_of_scooters = 20, av_batt_life = 100, size_of_region = 2, send_truck = -1)
limeshare

number_of_scooters     20
av_batt_life          100
size_of_region          2
send_truck             -1
dtype: int64

In [443]:
def step(state, hour):
#     find number of users per hour
    demand = 15
#     calcDemand(state.number_of_scooters, hour)
    
#     find the average ride length per rider from demand
    length_of_use = calcAverageRide(state.size_of_region, demand)
    
#     calc change in battery 
    calcBattDelta(state, demand, 10)
#     length_of_use
    
#     find hour to send truck
    if(state.av_batt_life < 20 and state.send_truck == -1):
        sendTruck(state, hour)

## Calculate demand for scooters based on: 
- traffic times 
    - HIGH : going to work (8-10pm), lunch time (12-2pm), going home (4-6pm)
    - NUETRAL : early birds (6-8am), night outs (8pm-11pm)
    - LOW : all remaining times
- scooters in the area (this is a hard max) 
- randomize using round (say bad weather hour)

*Returns num of scooters*

In [425]:
def calcDemand(scooters, hour):
    if hour >= 8 and hour < 10 or hour >= 12 and hour < 14 or hour >= 16 and hour < 18:
        return randint(int(scooters/hour) + int(hour/2), scooters)
    elif hour == 6 or hour == 7 or hour >= 20 and hour < 23:  
        return randint(scooters%(hour/2), scooters)
    else: 
        if hour == 0:
            return randint(hour, int(scooters/4))
        else:
            return randint(int(hour/6), int(scooters/4))

**The following code is used to test ideal hour ranges for our function above with demand.**
- the goal was to have a higher min for high traffic times accounting for hour and sccoter amounts range(20-100)


| trafffic | min  | max  | av |  
|:---|---|---|---|
| high  (13)| 13  |100   |   57.03|   
| nuetral  (20)| 1  | 100  |  48.34 |   
| low (4)|  0 |  25 |  12.55 |   
[This is for 100 scooters]


| trafffic | min  | max  | av |  
|:---|---|---|---|
| high  (13)|   7|20   |   13.08|   
| nuetral  (20)| 0  | 20  |  10.6 |   
| low (4)|  0 | 5  | 2.37  |   
[This is for 20 scooters]

In [426]:
# have to rewrite minimum var from min to 'mini' below bc min is reserved 
hours, mini, max, av = 4, 100, 0, 0
for i in range(1, 100):
    store = calcDemand(100, hours)
    if store < mini: mini = store
    if store > max: max = store
    av += store
print(mini, max, av/100)

0 25 12.75

## Caluculate average ride length of scooters used 
- we are assuming that the user picks up a scooter — at worst — at the begining of the hour and returns it by the end of the hour 
- the average length per scooter ride thus is a range from 0 - 60 minutes 

**factors the affect the ride length**
- area of region (the higher the area the longer the ride)
- demand (if there is more demand, chances are the rides are longer)

*returns a number between 0-60*

In [427]:
def calcRide(area, demand):
    lower_bound = 1
    upper_bound = 5
    return randint(lower_bound, upper_bound)

def calcAverageRide(area, demand):
    av = 0
    for i in range (0, demand): 
        av += calcRide (area, demand);
    return av/demand

Test the method above with av demand of 20 and area range 2,3,7 (square miles)

In [428]:
calcAverageRide(2, 20)
calcAverageRide(3, 20)
calcAverageRide(7, 20)

3.3

In [429]:
def calcBattDelta(state, demand, av_length_of_use):
    s = state.number_of_scooters 
    c = state.av_batt_life
    t = demand
    
    state.av_batt_life =  math.floor(((s-t)*c + t*(c- av_length_of_use)) / s)
        

def sendTruck(state, hour):
    state.send_truck = hour;

In [430]:
def run_simulation(state, num_steps):     
    results = TimeSeries()
    for hour in range(num_steps):
        #  this is our line in the sand to prevent calculating after our desired purpose for the model has been found
        if(state.send_truck != -1):
            return
        step(state, hour)
        results[hour] = state.av_batt_life

In [431]:
limeshare = State(number_of_scooters = 20, av_batt_life = 100, size_of_region = 3, send_truck = -1)
run_simulation(limeshare, 24)
limeshare

number_of_scooters    20
av_batt_life          12
size_of_region         3
send_truck            10
dtype: int64

In [432]:
def runModel():
#     tuple array ( size_of_region, send_truck) with fixed number_of_scooters at 20
    regions = linspace(1, 5, 10)
    results = []
    for i in regions:
        limeshare = State(number_of_scooters = 20, av_batt_life = 100, size_of_region = round(i + 1, 2), send_truck = -1)
        run_simulation(limeshare, 24)
        data = (limeshare.size_of_region, limeshare.send_truck)
        results.append(data)
    return results

In [433]:
sample_regions = runModel()

[(2.0, 10.0),
 (2.44, 10.0),
 (2.89, 10.0),
 (3.33, 10.0),
 (3.78, 10.0),
 (4.22, 10.0),
 (4.67, 10.0),
 (5.11, 10.0),
 (5.56, 10.0),
 (6.0, 10.0)]

In [434]:
def runModel():
#     tuple array (number_of_scooters, send_truck) with fixed size_of_region at 2
    scooters = linspace(20, 70, 10)
    results = []
    for i in scooters:
        limeshare = State(number_of_scooters = int(i), av_batt_life = 100, size_of_region = 2, send_truck = -1)
        run_simulation(limeshare, 24)
        data = (limeshare.number_of_scooters, limeshare.send_truck)
        results.append(data)
    return results

In [435]:
sample_scooters = runModel()

[(20, 10),
 (25, 13),
 (31, 16),
 (36, 16),
 (42, 20),
 (47, 20),
 (53, -1),
 (58, -1),
 (64, -1),
 (70, -1)]

In [436]:
region_data = linspace(1, 5, 10)

array([1.        , 1.44444444, 1.88888889, 2.33333333, 2.77777778,
       3.22222222, 3.66666667, 4.11111111, 4.55555556, 5.        ])

In [437]:
scooter_data = linspace(20, 80, 10)

array([20.        , 26.66666667, 33.33333333, 40.        , 46.66666667,
       53.33333333, 60.        , 66.66666667, 73.33333333, 80.        ])

In [438]:
truck_data = [[0 for x in region_data] for y in scooter_data]

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [439]:
def runModel():
    for row, reigon in enumerate(region_data):
        for col, scooters in enumerate(scooter_data):
            limeshare = State(number_of_scooters = scooters, av_batt_life = 100, size_of_region = reigon, send_truck = -1)
            run_simulation(limeshare, 24)
            truck_data[row][col] = limeshare.send_truck

runModel()
truck_data

[[10.0, 13.0, 16.0, 20.0, 20.0, -1.0, -1.0, -1.0, -1.0, -1.0],
 [10.0, 13.0, 16.0, 20.0, 20.0, -1.0, -1.0, -1.0, -1.0, -1.0],
 [10.0, 13.0, 16.0, 20.0, 20.0, -1.0, -1.0, -1.0, -1.0, -1.0],
 [10.0, 13.0, 16.0, 20.0, 20.0, -1.0, -1.0, -1.0, -1.0, -1.0],
 [10.0, 13.0, 16.0, 20.0, 20.0, -1.0, -1.0, -1.0, -1.0, -1.0],
 [10.0, 13.0, 16.0, 20.0, 20.0, -1.0, -1.0, -1.0, -1.0, -1.0],
 [10.0, 13.0, 16.0, 20.0, 20.0, -1.0, -1.0, -1.0, -1.0, -1.0],
 [10.0, 13.0, 16.0, 20.0, 20.0, -1.0, -1.0, -1.0, -1.0, -1.0],
 [10.0, 13.0, 16.0, 20.0, 20.0, -1.0, -1.0, -1.0, -1.0, -1.0],
 [10.0, 13.0, 16.0, 20.0, 20.0, -1.0, -1.0, -1.0, -1.0, -1.0]]

In [440]:
# My reaction when the above code printed "HOLY SHIT!"

In [441]:
new_dataFrame = pd.DataFrame(data=truck_data, index=round(region_data, 2), columns=round(scooter_data, 2))
new_dataFrame

      20.00  26.67  33.33  40.00  46.67  53.33  60.00  66.67  73.33  80.00
1.00   10.0   13.0   16.0   20.0   20.0   -1.0   -1.0   -1.0   -1.0   -1.0
1.44   10.0   13.0   16.0   20.0   20.0   -1.0   -1.0   -1.0   -1.0   -1.0
1.89   10.0   13.0   16.0   20.0   20.0   -1.0   -1.0   -1.0   -1.0   -1.0
2.33   10.0   13.0   16.0   20.0   20.0   -1.0   -1.0   -1.0   -1.0   -1.0
2.78   10.0   13.0   16.0   20.0   20.0   -1.0   -1.0   -1.0   -1.0   -1.0
3.22   10.0   13.0   16.0   20.0   20.0   -1.0   -1.0   -1.0   -1.0   -1.0
3.67   10.0   13.0   16.0   20.0   20.0   -1.0   -1.0   -1.0   -1.0   -1.0
4.11   10.0   13.0   16.0   20.0   20.0   -1.0   -1.0   -1.0   -1.0   -1.0
4.56   10.0   13.0   16.0   20.0   20.0   -1.0   -1.0   -1.0   -1.0   -1.0
5.00   10.0   13.0   16.0   20.0   20.0   -1.0   -1.0   -1.0   -1.0   -1.0