In [115]:
# Configure Jupyter so figures appear in the notebook
%matplotlib inline

# Configure Jupyter to display the assigned value after an assignment
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

# import functions from the modsim library
from modsim import *

# set the random number generator
np.random.seed(7)
import math

In [116]:
def step(state):
    zone_A(state, flip(.5), 10)
    zone_B(state, flip(.75), 20)
      
        
def zone_A(state, t, amount_used):
    s = state.a 
    c = state.batt_A
    t = 20*t
    
    state.batt_A =  math.floor(((s-t)*c + t*(c- amount_used)) / s)


def zone_B(state, t, amount_used):
    s = state.b 
    c = state.batt_B
    t = 20*t
    
    state.batt_B =  math.floor(((s-t)*c + t*(c- amount_used)) / s)

In [117]:
def run_simulation(state, p1, p2, num_steps):
    results = TimeSeries()    
    for i in range(num_steps):
        step(state, p1, p2)
        results[i] = state.a

In [118]:

limeshare = State(a=20, b=30, batt_A=100, batt_B=100)
limeshare

a          20
b          30
batt_A    100
batt_B    100
dtype: int64

In [119]:
step(limeshare)
limeshare

a          20
b          30
batt_A     90
batt_B    100
dtype: int64